.mat-dialog-title {
  font-family: baloo;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

::ng-deep .mat-dialog-container {
  background: #9ffff0;
  color: #001234;
  border-radius: 2rem;
  width: 500px;
}

::ng-deep .mat-chip.mat-standard-chip {
  background-color: #03255f;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h4 {
  margin: 0;
}

ul {
  margin-top: 8px;
}
