<mat-card class="maincard" *ngIf="fejlesztesInfo">
  <mat-card-header>
    <p>Fejlesztések</p>
  </mat-card-header>
  <div class="card">
    <h4>
      Kattints rá, amelyiket szeretnéd megvenni.
    </h4>
    <h4>
      Minden fejlesztés 15 kört vesz igénybe, egyszerre csak egy dolog
      fejleszthető és minden csak egyszer fejleszthető ki (nem lehet két
      kombájn).
    </h4>
    <div class="cards">
      <mat-card
        id="traktor"
        (click)="setActive('traktor')"
        class="smallcard"
        [class.active]="activeCard == 'traktor'"
        [class.done]="
          (traktorInfo && traktorInfo.kifejlesztve) ||
          (traktorInfo && !traktorInfo.kifejlesztve)
        "
      >
        <mat-card-content>
          <div class="state" *ngIf="traktorInfo && traktorInfo.kifejlesztve">
            <img src="assets\images\check.svg" />
          </div>
          <div class="state" *ngIf="traktorInfo && !traktorInfo.kifejlesztve">
            még {{ 15 - traktorInfo.aktualisKor }} kör
          </div>
          <div class="powerup">
            <div><img src="assets\images\undersea_game-09.png" /></div>
            <div class="text">
              <h4>Iszaptraktor</h4>
              <h5>növeli a korall termesztést 10%-kal</h5>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        id="kombajn"
        (click)="setActive('kombajn')"
        class="smallcard"
        [class.active]="activeCard == 'kombajn'"
        [class.done]="
          (kombajnInfo && kombajnInfo.kifejlesztve) ||
          (kombajnInfo && !kombajnInfo.kifejlesztve)
        "
      >
        <mat-card-content>
          <div class="state" *ngIf="kombajnInfo && kombajnInfo.kifejlesztve">
            <img src="assets\images\check.svg" />
          </div>
          <div class="state" *ngIf="kombajnInfo && !kombajnInfo.kifejlesztve">
            még {{ 15 - kombajnInfo.aktualisKor }} kör
          </div>
          <div class="powerup">
            <div><img src="assets\images\undersea_game-10.png" /></div>
            <div class="text">
              <h4>Iszapkombájn</h4>
              <h5>növeli a korall termesztést 15%-kal</h5>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        id="korallfal"
        (click)="setActive('korallfal')"
        class="smallcard"
        [class.active]="activeCard == 'korallfal'"
        [class.done]="
          (korallInfo && korallInfo.kifejlesztve) ||
          (korallInfo && !korallInfo.kifejlesztve)
        "
      >
        <mat-card-content>
          <div class="state" *ngIf="korallInfo && korallInfo.kifejlesztve">
            <img src="assets\images\check.svg" />
          </div>
          <div class="state" *ngIf="korallInfo && !korallInfo.kifejlesztve">
            még {{ 15 - korallInfo.aktualisKor }} kör
          </div>
          <div class="powerup">
            <div><img src="assets\images\korallfal.svg" /></div>
            <div class="text">
              <h4>Korallfal</h4>
              <h5>növeli a védelmi pontokat 20%-kal</h5>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        id="szonaragyu"
        (click)="setActive('szonaragyu')"
        class="smallcard"
        [class.active]="activeCard == 'szonaragyu'"
        [class.done]="
          (szonarAgyuInfo && szonarAgyuInfo.kifejlesztve) ||
          (szonarAgyuInfo && !szonarAgyuInfo.kifejlesztve)
        "
      >
        <mat-card-content>
          <div
            class="state"
            *ngIf="szonarAgyuInfo && szonarAgyuInfo.kifejlesztve"
          >
            <img src="assets\images\check.svg" />
          </div>
          <div
            class="state"
            *ngIf="szonarAgyuInfo && !szonarAgyuInfo.kifejlesztve"
          >
            még {{ 15 - szonarAgyuInfo.aktualisKor }} kör
          </div>
          <div class="powerup">
            <div><img src="assets\images\undersea_game-03.png" /></div>

            <div class="text">
              <h4>Szonárágyú</h4>
              <h5>növeli a támadópontokat 20%-kal</h5>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        id="vizalatti"
        (click)="setActive('vizalatti')"
        class="smallcard"
        [class.active]="activeCard == 'vizalatti'"
        [class.done]="
          (vizalattiHarcmuveszetInfo &&
            vizalattiHarcmuveszetInfo.kifejlesztve) ||
          (vizalattiHarcmuveszetInfo && !vizalattiHarcmuveszetInfo.kifejlesztve)
        "
      >
        <mat-card-content>
          <div
            class="state"
            *ngIf="
              vizalattiHarcmuveszetInfo &&
              vizalattiHarcmuveszetInfo.kifejlesztve
            "
          >
            <img src="assets\images\check.svg" />
          </div>
          <div
            class="state"
            *ngIf="
              vizalattiHarcmuveszetInfo &&
              !vizalattiHarcmuveszetInfo.kifejlesztve
            "
          >
            még {{ 15 - vizalattiHarcmuveszetInfo.aktualisKor }} kör
          </div>
          <div class="powerup">
            <div><img src="assets\images\vizalatti harcmuveszetek.svg" /></div>
            <div class="text">
              <h4>Vízalatti harcművészetek</h4>
              <h5>növeli a védelmi és támadóerőt 10%-kal</h5>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        id="alkimia"
        (click)="setActive('alkimia')"
        class="smallcard"
        [class.active]="activeCard == 'alkimia'"
        [class.done]="
          (alkimiaInfo && alkimiaInfo.kifejlesztve) ||
          (alkimiaInfo && !alkimiaInfo.kifejlesztve)
        "
      >
        <mat-card-content>
          <div class="state" *ngIf="alkimiaInfo && alkimiaInfo.kifejlesztve">
            <img src="assets\images\check.svg" />
          </div>
          <div class="state" *ngIf="alkimiaInfo && !alkimiaInfo.kifejlesztve">
            még {{ 15 - alkimiaInfo.aktualisKor }} kör
          </div>
          <div class="powerup">
            <div><img src="assets\images\alkimia.svg" /></div>
            <div class="text">
              <h4>Alkímia</h4>
              <h5>növeli a beszedett adót 30%-kal</h5>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <hr width="100%" />
    <div
      class="button"
      matTooltip="Már van folyamatban fejlesztésed!"
      [matTooltipDisabled]="
        !(
          (this.alkimiaInfo && !this.alkimiaInfo.kifejlesztve) ||
          (this.vizalattiHarcmuveszetInfo &&
            !this.vizalattiHarcmuveszetInfo.kifejlesztve) ||
          (this.szonarAgyuInfo && !this.szonarAgyuInfo.kifejlesztve) ||
          (this.korallInfo && !this.korallInfo.kifejlesztve) ||
          (this.kombajnInfo && !this.kombajnInfo.kifejlesztve) ||
          (this.traktorInfo && !this.traktorInfo.kifejlesztve)
        )
      "
    >
      <button
        mat-raised-button
        (click)="buyFejlesztes()"
        [disabled]="
          !activeCard ||
          ((this.alkimiaInfo && !this.alkimiaInfo.kifejlesztve) ||
            (this.vizalattiHarcmuveszetInfo &&
              !this.vizalattiHarcmuveszetInfo.kifejlesztve) ||
            (this.szonarAgyuInfo && !this.szonarAgyuInfo.kifejlesztve) ||
            (this.korallInfo && !this.korallInfo.kifejlesztve) ||
            (this.kombajnInfo && !this.kombajnInfo.kifejlesztve) ||
            (this.traktorInfo && !this.traktorInfo.kifejlesztve))
        "
      >
        Kifejlesztés
      </button>
    </div>
  </div>
</mat-card>
<mat-spinner *ngIf="!fejlesztesInfo"></mat-spinner>
