<mat-card class="maincard">
  <mat-card-header>
    <p>Fejlesztések</p>
  </mat-card-header>
  <div class="card">
    <h4>
      Kattints rá, amelyiket szeretnéd megvenni.
    </h4>
    <h4>
      Minden fejlesztés 15 kört vesz igénybe, egyszerre csak egy dolog
      fejleszthető és minden csak egyszer fejleszthető ki (nem lehet két
      kombájn).
    </h4>
    <div class="cards">
      <mat-card
        id="card1"
        (click)="setActive('card1')"
        class="smallcard"
        [class.active]="activeCard == 'card1'"
      >
        <mat-card-content>
          <img src="assets\images\undersea_game-09.png" />
          <div class="text">
            <h5>Iszaptraktor</h5>
            <h5>növeli a krumpli termesztést 10%-kal</h5>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        id="card2"
        (click)="setActive('card2')"
        class="smallcard"
        [class.active]="activeCard == 'card2'"
      >
        <mat-card-content>
          <img src="assets\images\undersea_game-10.png" />
          <div class="text">
            <h5>Iszapkombájn</h5>
            <h5>növeli a korall termesztést 15%-kal</h5>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        id="card3"
        (click)="setActive('card3')"
        class="smallcard"
        [class.active]="activeCard == 'card3'"
      >
        <mat-card-content>
          <img src="assets\images\undersea_game-09.png" />
          <div class="text">
            <h5>Korallfal</h5>
            <h5>növeli a védelmi pontokat 20%-kal</h5>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        id="card4"
        (click)="setActive('card4')"
        class="smallcard"
        [class.active]="activeCard == 'card4'"
      >
        <mat-card-content>
          <img src="assets\images\undersea_game-03.png" />
          <div class="text">
            <h5>Szonárágyú</h5>
            <h5>növeli a támadópontokat 20%-kal</h5>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        id="card5"
        (click)="setActive('card5')"
        class="smallcard"
        [class.active]="activeCard == 'card5'"
      >
        <mat-card-content>
          <img src="assets\images\undersea_game-09.png" />
          <div class="text">
            <h5>Vízalatti harcművészetek</h5>
            <h5>növeli a védelmi és támadóerőt 10%-kal</h5>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        id="card6"
        (click)="setActive('card6')"
        class="smallcard"
        [class.active]="activeCard == 'card6'"
      >
        <mat-card-content>
          <img src="assets\images\undersea_game-09.png" />
          <div class="text">
            <h5>Alkímia</h5>
            <h5>növeli a beszedett adót 30%-kal</h5>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <hr width="100%" />
    <button mat-raised-button>Megépítem</button>
  </div>
</mat-card>
