.card {
    background-color: rgba(255, 255, 255, 0.3);
    color: #1C3E76;
    width: 461px;
    height: 394px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  mat-form-field {
    padding: 0px;
    width: 366px;
    margin-left: 47px;  }

    mat-card-header {
        justify-content: center;
        color: #1C3E76;
    }

.register {
      color: #9FFFF0;
      font-size: 18px;
      display: block;
  }

  .login{
    color: #1C3E76;
    background: #9FFFF0;
    font-size: 18px;
    width: 192px;
    height: 50px;
    margin-left: 135px;
  }

 p{
    font-size: 32px;
  }
  h1{
      font-size: 93px;
      color: #9FFFF0;
      text-align: center;
  }