<div class="main">
  <img
    *ngIf="aramlasIranyito"
    class="aramlasiranyito"
    src="assets\images\undersea_game-05-l.png"
  />
  <img
    *ngIf="szonarAgyu"
    class="szonaragyu"
    src="assets\images\undersea_game-03-l.png"
  />
  <img
    *ngIf="zatonyVar"
    class="zatonyvar"
    src="assets\images\undersea_game-07-l.png"
  />
  <img *ngIf="alkimia" class="alkimia" src="assets\images\alkimia.svg" />
  <img *ngIf="korall" class="korall" src="assets\images\korallfal.svg" />
  <img
    *ngIf="vizalatti"
    class="vizalatti"
    src="assets\images\vizalatti harcmuveszetek.svg"
  />
  <img
    *ngIf="traktor"
    class="traktor"
    src="assets\images\undersea_game-09.png"
  />
  <img
    *ngIf="kombajn"
    class="kombajn"
    src="assets\images\undersea_game-10.png"
  />
</div>
