.card {
  background-color: rgba(255, 255, 255, 0.25);
  color: #1c3e76;
  width: 461px;
  height: 526px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
}

mat-card-header {
  justify-content: center;
  color: #1c3e76;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  color: #9ffff0;
  font-size: 18px;
}

.form-rounded {
  width: 366px;
}

.register {
  color: #001234;
  background: linear-gradient(to right, #0fcfde 0%, #9ffff0 100%);
  font-size: 18px;
  width: 192px;
  height: 50px;
  border-radius: 2rem;
  margin-top: 20px;
  margin-bottom: 15px;
}

p {
  font-size: 32px;
}

h1 {
  font-size: 93px;
  color: #9ffff0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
