.maincard {
  width: 869px;
  height: 748px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #03255f;
  border-radius: 2rem;
}
mat-card-content {
  margin-left: 48px;
  margin-right: 48px;
}

mat-card-header {
  //   color: white;
  font-size: 32px;
}

.smallcard {
  width: 296px;
  height: 315px;
  float: left;
  background-color: transparent;
  text-align: center;
}

.smallcard:not(:first-child) {
  margin-left: 100px;
}

h4 {
  font-size: 16px;
  margin: 0px;
  color: white;
  font-weight: bold;
}
h5 {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0px;
  color: white;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.25);
}
button {
  color: #001234;
  font-size: 18px;
  width: 192px;
  height: 50px;
  border-radius: 2rem;
  background: linear-gradient(to right, #0fcfde 0%, #9ffff0 100%);
}

.column {
  float: left;
  width: 50%;
}
.smallcolumn {
  float: left;
}
.row {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 60px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.form-rounded {
  border-radius: 2rem;
  height: 40px;
  width: 90%;
  margin-bottom: 19px;
  background-color: rgba(255, 255, 255, 0.39);
  border: rgba(255, 255, 255, 0.39);
  color: #1c3e76;
  padding: 2px;
  padding-left: 20px;
  font-size: 16px;
}
.form-rounded::placeholder {
  color: #1c3e76;
}

mat-slider {
  width: 233px;
  margin: 0px;
  padding: 0px;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #9ffff0;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #9ffff0;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #9ffff0;
}
