<mat-card class="maincard" *ngIf="tamadasInfo">
  <mat-card-header>
    <p>Támadás</p>
  </mat-card-header>
  <div class="card">
    <div class="data">
      <div class="column">
        <h4>1. Jelöld ki, kit szeretnél megtámadni:</h4>
        <input
          type="text"
          class="form-control form-rounded"
          placeholder="Országnév"
          (input)="search(searchBox.value)"
          #searchBox
        />
        <div role="list" class="list">
          <div
            *ngFor="let country of filteredCountries"
            (click)="selectCountry(country)"
          >
            <hr />
            <div class="listItem">
              <h5>{{ country }}</h5>
              <img
                *ngIf="selectedCountry == country"
                class="check"
                src="assets\images\check.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <h4>2. Állítsd be, kiket küldesz harcba:</h4>
        <h5 matTooltip="Lv. 1 / Lv. 2 / Lv. 3">
          Lézercápa: {{ capaNumber.level1 }} / {{ capaNumber.level2 }} /
          {{ capaNumber.level3 }} példány
        </h5>
        <div class="smallrow">
          <div class="smallcolumn">
            <mat-card class="icon">
              <img src="assets\images\007-shark.svg" />
            </mat-card>
          </div>
          <div class="smallcolumn">
            <input
              type="range"
              class="slider"
              #capa
              min="0"
              max="{{ capaInfoNumbers.level1 }}"
              value="0"
              [(ngModel)]="capaNumber.level1"
              matTooltip="Nincs lv. 1 lézercápád :("
              [matTooltipDisabled]="capaInfoNumbers.level1 > 0"
            />
            <input
              type="range"
              class="slider"
              #capa
              min="0"
              max="{{ capaInfoNumbers.level2 }}"
              value="0"
              [(ngModel)]="capaNumber.level2"
              matTooltip="Nincs lv. 2 lézercápád :("
              [matTooltipDisabled]="capaInfoNumbers.level2 > 0"
            />
            <input
              type="range"
              class="slider"
              #capa
              min="0"
              max="{{ capaInfoNumbers.level3 }}"
              value="0"
              [(ngModel)]="capaNumber.level3"
              matTooltip="Nincs lv. 3 lézercápád :("
              [matTooltipDisabled]="capaInfoNumbers.level3 > 0"
            />
          </div>
        </div>
        <h5 matTooltip="Lv. 1 / Lv. 2 / Lv. 3">
          Rohamfóka: {{ fokaNumber.level1 }} / {{ fokaNumber.level2 }} /
          {{ fokaNumber.level3 }} példány
        </h5>
        <div class="smallrow">
          <div class="smallcolumn">
            <mat-card class="icon">
              <img src="assets\images\025-seal.svg" />
            </mat-card>
          </div>
          <div class="smallcolumn">
            <input
              type="range"
              class="slider"
              #foka
              min="0"
              max="{{ fokaInfoNumbers.level1 }}"
              value="0"
              [(ngModel)]="fokaNumber.level1"
              matTooltip="Nincs lv. 1 rohamfókád :("
              [matTooltipDisabled]="fokaInfoNumbers.level1 > 0"
            />
            <input
              type="range"
              class="slider"
              #foka
              min="0"
              max="{{ fokaInfoNumbers.level2 }}"
              value="0"
              [(ngModel)]="fokaNumber.level2"
              matTooltip="Nincs lv. 2 rohamfókád :("
              [matTooltipDisabled]="fokaInfoNumbers.level2 > 0"
            />
            <input
              type="range"
              class="slider"
              #foka
              min="0"
              max="{{ fokaInfoNumbers.level3 }}"
              value="0"
              [(ngModel)]="fokaNumber.level3"
              matTooltip="Nincs lv. 3 rohamfókád :("
              [matTooltipDisabled]="fokaInfoNumbers.level3 > 0"
            />
          </div>
        </div>
        <h5 matTooltip="Lv. 1 / Lv. 2 / Lv. 3">
          Csatacsikó: {{ csikoNumber.level1 }} / {{ csikoNumber.level2 }} /
          {{ csikoNumber.level3 }} példány
        </h5>
        <div class="smallrow">
          <div class="smallcolumn">
            <mat-card class="icon">
              <img src="assets\images\013-seahorse.svg" />
            </mat-card>
          </div>
          <div class="smallcolumn">
            <input
              type="range"
              class="slider"
              #csiko
              min="0"
              max="{{ csikoInfoNumbers.level1 }}"
              value="0"
              [(ngModel)]="csikoNumber.level1"
              matTooltip="Nincs lv. 1 csatacsikód :("
              [matTooltipDisabled]="csikoInfoNumbers.level1 > 0"
            />
            <input
              type="range"
              class="slider"
              #csiko
              min="0"
              max="{{ csikoInfoNumbers.level2 }}"
              value="0"
              [(ngModel)]="csikoNumber.level2"
              matTooltip="Nincs lv. 2 csatacsikód :("
              [matTooltipDisabled]="csikoInfoNumbers.level2 > 0"
            />
            <input
              type="range"
              class="slider"
              #csiko
              min="0"
              max="{{ csikoInfoNumbers.level3 }}"
              value="0"
              [(ngModel)]="csikoNumber.level3"
              matTooltip="Nincs lv. 3 csatacsikód :("
              [matTooltipDisabled]="csikoInfoNumbers.level3 > 0"
            />
          </div>
        </div>
      </div>
    </div>
    <hr width="100%" />
    <div
      class="button"
      matTooltip="Válassz ellenfelet és sereget!"
      [matTooltipDisabled]="
        selectCountry &&
        (fokaNumber.level1 > 0 ||
          capaNumber.level1 > 0 ||
          csikoNumber.level1 > 0 ||
          fokaNumber.level2 > 0 ||
          capaNumber.level2 > 0 ||
          csikoNumber.level2 > 0 ||
          fokaNumber.level3 > 0 ||
          capaNumber.level3 > 0 ||
          csikoNumber.level3 > 0)
      "
    >
      <button
        mat-raised-button
        [disabled]="
          !selectedCountry ||
          (fokaNumber.level1 === 0 &&
            fokaNumber.level2 === 0 &&
            fokaNumber.level3 === 0 &&
            capaNumber.level1 === 0 &&
            capaNumber.level2 === 0 &&
            capaNumber.level3 === 0 &&
            csikoNumber.level1 === 0 &&
            csikoNumber.level2 === 0 &&
            csikoNumber.level3 === 0)
        "
        (click)="attack()"
      >
        Megtámadom!
      </button>
    </div>
  </div>
</mat-card>
<mat-spinner *ngIf="!tamadasInfo"></mat-spinner>
