.maincard {
  width: 869px;
  height: 748px;
  border-radius: 2rem;
}

.card {
  width: 770px;
  height: 590px;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 0px;
  padding: 0px;
}

.points {
  text-align: right;
  width: 20%;
}

.country {
  width: 80%;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  padding-right: 20px;
}

.list {
  overflow: auto;
  flex: 1;
}
