<mat-card class="maincard">
  <mat-card-header>
    <p>Ranglista</p>
  </mat-card-header>
  <div class="card">
    <input
      #searchBox
      type="text"
      class="form-control form-rounded"
      placeholder="Országnév"
      (input)="search(searchBox.value)"
    />
    <mat-list role="list">
      <div *ngFor="let country of filteredranglista; index as i">
        <hr width="770px" />
        <mat-list-item>
          <div class="country">
            <h4>{{ i + 1 }}. {{ country.orszag }}</h4>
          </div>
          <div class="points">
            <p>{{ country.pont }}</p>
          </div>
        </mat-list-item>
      </div>
    </mat-list>
  </div>
</mat-card>
