.maincard {
  width: 869px;
  height: 748px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #03255f;
  border-radius: 2rem;
}
.card {
  margin-left: 48px;
  margin-right: 48px;
  width: 770px;
}

mat-card-header {
  font-size: 32px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin: 0px;
  padding: 0px;
}

mat-list * {
  color: white;
}

.points {
  text-align: right;
  width: 20%;
}

.country {
  width: 80%;
}

.form-rounded {
  border-radius: 2rem;
  height: 40px;
  width: 100%;
  margin-bottom: 19px;
  background-color: rgba(255, 255, 255, 0.39);
  border: rgba(255, 255, 255, 0.39);
  color: #1c3e76;
  padding: 2px;
  padding-left: 20px;
  font-size: 16px;
}
.form-rounded::placeholder {
  color: #1c3e76;
}
