/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/theming';

@include mat-core();

$undersea-app-primary: mat-palette($mat-indigo, 900);
$undersea-app-accent: mat-palette($mat-indigo, 400);

$undersea-app-theme: mat-light-theme(
  $undersea-app-primary,
  $undersea-app-accent
);

@include angular-material-theme($undersea-app-theme);

body {
  margin: 0;
}

* {
  font-family: baloo;
  font-weight: lighter;
}

html {
  background: url('assets/bg2.png') no-repeat center center fixed;
  background-size: cover;
}

@font-face {
  font-family: baloo;
  src: url(src\assets\font\Baloo-Regular.ttf) format('opentype');
}

@import '~ngx-toastr/toastr';

.form-rounded {
  border-radius: 2rem;
  height: 40px;
  width: 100%;
  margin-bottom: 19px;
  background-color: rgba(255, 255, 255, 0.39);
  border: rgba(255, 255, 255, 0.39);
  color: #1c3e76;
  padding: 2px;
  padding-left: 20px;
  font-size: 16px;
}

.form-rounded::placeholder {
  color: #1c3e76;
}

input:focus {
  outline: none;
}

.list::-webkit-scrollbar {
  width: 0.5em;
}
.list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}
.list::-webkit-scrollbar-thumb {
  background-color: #9ffff0;
  outline: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.maincard {
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #03255f;
}

.card {
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.smallcard {
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

mat-card-header {
  font-size: 32px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

mat-list * {
  color: white;
}

button {
  color: #001234;
  width: 192px;
  height: 50px;
  background: linear-gradient(to right, #0fcfde 0%, #9ffff0 100%);
}

.button {
  align-self: center;
}

.active {
  background-color: rgba(255, 255, 255, 0.25);
}

.icon {
  background-color: #9ffff0;
  border-style: solid;
  border-width: 2px;
  border-color: #428dff;
}
