<mat-card class="maincard" *ngIf="done">
  <mat-card-header>
    <p>Harcok</p>
  </mat-card-header>
  <div class="card">
    <mat-list role="list" class="list">
      <div *ngFor="let fight of fights">
        <hr width="100%" />
        <mat-list-item (click)="openDialog(fight)">
          <div class="opponent">
            <h4>{{ fight.vedekezoOrszag }}</h4>
          </div>
          <div class="data">
            <p>{{ fight.capaInfo ? fight.capaInfo.mennyiseg : 0 }} Lézercápa</p>
            <p>{{ fight.fokaInfo ? fight.fokaInfo.mennyiseg : 0 }} Rohamfóka</p>
            <p>
              {{ fight.csikoInfo ? fight.csikoInfo.mennyiseg : 0 }} Csatacsikó
            </p>
          </div>
          <div class="result">
            <p class="resulttext">{{ fight.harcEredmeny }}</p>
          </div>
        </mat-list-item>
      </div>
    </mat-list>
  </div>
</mat-card>
<mat-spinner *ngIf="!done"></mat-spinner>
