<mat-card class="maincard">
  <mat-card-header>
    <p>Harcok</p>
  </mat-card-header>
  <div class="card">
    <mat-list role="list">
      <hr width="770px" />
      <mat-list-item>
        <div class="opponent">
          <h4>Atlantisz</h4>
        </div>
        <div class="data">
          <p>6 Lézercápa</p>
          <p>5 Rohamfóka</p>
          <p>32 Csatacsikó</p>
        </div>
        <div class="result">
          <p>Nyert</p>
        </div>
      </mat-list-item>
      <hr width="770px" />
      <mat-list-item>
        <div class="opponent">
          <h4>Atlantisz</h4>
        </div>
        <div class="data">
          <p>6 Lézercápa</p>
          <p>5 Rohamfóka</p>
          <p>32 Csatacsikó</p>
        </div>
        <div class="result">
          <p>Nyert</p>
        </div>
      </mat-list-item>
      <hr width="770px" />
      <mat-list-item>
        <div class="opponent">
          <h4>Atlantisz</h4>
        </div>
        <div class="data">
          <p>6 Lézercápa</p>
          <p>5 Rohamfóka</p>
          <p>32 Csatacsikó</p>
        </div>
        <div class="result">
          <p>Nyert</p>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>
