.maincard {
  width: 869px;
  height: 645px;
  border-radius: 2rem;
}

.carddata {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 40px;
  margin-right: 40px;
}

.smallcard {
  width: 296px;
  height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 0px transparent;
  border-radius: 2rem;
}

h4 {
  font-size: 14px;
  margin: 0px;
  color: white;
  font-weight: bold;
}
h5 {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0px;
  color: white;
}
h4:first {
  margin-top: 156px;
}

hr {
  margin-top: 20px;
}

button {
  border-radius: 2rem;
  align-self: center;
  margin-top: 20px;
  font-size: 18px;
}

.cards {
  margin-top: 20px;
}

.text {
  height: 130px;
}
