.maincard {
  width: 869px;
  height: 645px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #03255f;
  border-radius: 2rem;
}
mat-card-header {
  font-size: 32px;
}

.carddata {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 40px;
  margin-right: 40px;
}

.smallcard {
  background-color: 'transparent';
  width: 296px;
  height: 315px;
  background-color: transparent;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0px 0px 0px 0px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 14px;
  margin: 0px;
  color: white;
  font-weight: bold;
}
h5 {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0px;
  color: white;
}
h4:first {
  margin-top: 156px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-top: 20px;
}

button {
  color: #001234;
  font-size: 18px;
  width: 192px;
  height: 50px;
  border-radius: 2rem;
  background: linear-gradient(to right, #0fcfde 0%, #9ffff0 100%);
  align-self: center;
  margin-top: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.active {
  background-color: rgba(255, 255, 255, 0.25);
}
