<mat-card class="maincard">
  <mat-card-header>
    <p>Épületek</p>
  </mat-card-header>
  <div class="carddata">
    <mat-card-content>
      <h4>Kattints rá, amelyiket szeretnéd megvenni.</h4>
      <div class="cards">
        <mat-card
          id="card1"
          (click)="changeColor('card1')"
          class="smallcard"
          [style.backgroundcolor]="color"
        >
          <mat-card-content>
            <img src="assets\images\undersea_game-07.png" />
            <h4>Zátonyvár</h4>
            <h4>50 embert ad a népességhez</h4>
            <h4>200 krumplit termel körönként</h4>
            <h5>1 db</h5>
            <h5>45 gyöngy/db</h5>
          </mat-card-content>
        </mat-card>
        <mat-card id="card2" (click)="changeColor('card2')" class="smallcard">
          <mat-card-content>
            <img src="assets\images\undersea_game-05.png" />
            <h4>Áramlásirányító</h4>
            <h4>200 egységnek nyújt szállást</h4>
            <h5>0 db</h5>
            <h5>35 gyöngy/db</h5>
          </mat-card-content>
        </mat-card>
      </div>
      <hr width="100%" />
    </mat-card-content>

    <button mat-raised-button (click)="buyBuilding()">Megépítem</button>
  </div>
</mat-card>
