<div *ngIf="orszagInfo">
  <div class="border">
    <mat-toolbar>
      <div class="column1">
        <div class="data">
          <h4>{{ turn }}.kör</h4>
          <h4>{{ orszagInfo.helyezes }}.hely</h4>
        </div>
      </div>
      <div class="column2">
        <div class="icons">
          <div class="icontext">
            <img class="icon" src="assets\images\icon_harcicapa.svg" />
            <h4>{{ capaInfo ? capaInfo.mennyiseg : 0 }}</h4>
          </div>
          <div class="icontext">
            <img class="icon" src="assets\images\icon_rohamfoka.svg" />
            <h4>{{ fokaInfo ? fokaInfo.mennyiseg : 0 }}</h4>
          </div>
          <div class="icontext">
            <img class="icon" src="assets\images\icon_csatacsiko.svg" />
            <h4>{{ csikoInfo ? csikoInfo.mennyiseg : 0 }}</h4>
          </div>
          <div class="icontext">
            <img class="icon" src="assets\images\icon_gyongy.svg" />
            <div class="doubletext">
              <h4>{{ gyongy }}</h4>
              <h5>{{ orszagInfo.gyongyTermeles }}/kör</h5>
            </div>
          </div>
          <div class="icontext">
            <img class="icon" src="assets\images\icon_korallfal.svg" />
            <div class="doubletext">
              <h4>{{ korall }}</h4>
              <h5>{{ orszagInfo.korallTermeles }}/kör</h5>
            </div>
          </div>
          <div class="icontext">
            <img class="icon" src="assets\images\icon_zatonyvar.svg" />
            <div class="doubletext">
              <h4>{{ zatonyVarInfo.mennyiseg }}</h4>
              <h5>{{ orszagInfo.epuloZatonyvar }} épül</h5>
            </div>
          </div>
          <div class="icontext">
            <img class="icon" src="assets\images\icon_aramlasiranyito.svg" />
            <div class="doubletext">
              <h4>{{ aramlasIranyitoInfo.mennyiseg }}</h4>
              <h5>{{ orszagInfo.epuloAramlasIranyito }} épül</h5>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
      <mat-sidenav mode="side" opened>
        <button mat-raised-button routerLink="buildings">Épületek</button>
        <button mat-raised-button routerLink="attack">Támadás</button>
        <button mat-raised-button routerLink="powerups">Fejlesztések</button>
        <button mat-raised-button routerLink="fight">Harcok</button>
        <button mat-raised-button routerLink="rankings">Ranglista</button>
        <button mat-raised-button routerLink="army">Sereg</button>
        <mat-card class="card">
          <mat-card class="malecard">
            <img src="assets\images\002-male.svg" (click)="nextTurn()" />
          </mat-card>
          <p>{{ orszagInfo.nev }}</p>
          <a class="profile" mat-button routerLink="">
            Profil
          </a>
          <a class="logout" mat-button (click)="logout()">
            Kijelentkezés
          </a>
        </mat-card>
        <h1>UNDERSEA</h1>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="country">
          <app-country
            [aramlasIranyito]="aramlasIranyitoInfo.mennyiseg > 0"
            [zatonyVar]="zatonyVarInfo.mennyiseg > 0"
          ></app-country>
        </div>
        <div class="router">
          <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
<mat-spinner *ngIf="!orszagInfo"></mat-spinner>
